<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.FriendDao">
	<insert id="insertFriend" parameterType="Friend">
		INSERT INTO Friend
		(friendId,userId, friendUserId,isAccept)
		VALUES (0,#{userId}, #{friendUserId},0);
	</insert>

	<update id="acceptFriend" parameterType="int">
		update friend set
		isAccept=1 where friendId=#{friendId};
	</update>
	<update id="rejectFriend" parameterType="int">
		update friend set
		isAccept=2 where friendId=#{friendId};
	</update>
	
	<select id="getFriendList" parameterType="String"
		resultType="Friend">
		SELECT friendId, userId, friendUserId, isAccept FROM Friend
		WHERE userId = #{userId} or friendUserId = #{friendUserId} AND isAccept = 1;
	</select>
	
	<delete id="deleteFriend" parameterType="int">
	DELETE from Friend WHERE friendId=#{friendId};
	</delete>
</mapper>
